# 1. Игнорировать всё
/*

# 2. Но не игнорировать сам .gitignore
!/.gitignore

# 3. Разрешить папку local и всё её содержимое
!/local/
!/local/**

# 4. Разрешить файлы в корне
#    подставьте расширения, которые нужны вашему проекту
!/*.php
!/*.html
!/*.css
!/*.js
!/*.json
!/*.xml
!/*.txt
!/.htaccess
!/robots.txt
